body {
	background-image: url("/images/bgTriangles.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	min-height: 100vh;
	margin: 0;
}
.back-btn {
	border-radius: 1rem;
	width: 8rem;
	height: 2rem;
	background-color: darkblue;
	color: white;
	border: none;
	left: 20rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
}
.question-container {
	padding: 1rem;
	background-color: #63c5da;
	margin-bottom: 2rem;
	width: 50%;
	height: 15%;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1rem;
	margin-left: auto;
	align-items: center;
	margin-right: auto;
} 

.submit {
	border-radius: 1rem;
	width: 8rem;
	height: 2rem;
	background-color: darkblue;
	color: white;
	border: none;
	position: relative;
	margin-left: 28rem;
	margin-right: auto;
}
.scoreboard {
	width: 16rem;
	height: 2rem;
	background-color: darkblue;
	color: white;
	border: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 1rem;
	padding-top: 1rem;
	border-radius: 1rem;
}

 
@media only screen and (max-width: 700px) {
    body {
       background-image: url("/images/bgTrianglesMob.jpg");
	   background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 220%;
		overflow: hidden;

    }
	.questionsContainer
	{
		width: 100%;
		margin-bottom: 0rem;
		position: absolute;
	}

	.question-container {
		padding: 1rem;
		background-color: #63c5da;
		margin-bottom: 2rem;
		width: 85%;
		height: 15%;
		font-family: 'Courier New', Courier, monospace;
		font-size: 1rem;
		margin-left: auto;
		align-items: center;
		margin-right: auto;
	} 
	
.back-btn {
	border-radius: 1rem;
	width: 8rem;
	height: 2rem;
	background-color: darkblue;
	color: white;
	border: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
	position: relative;
	left:0rem;
	margin-left: 1rem;
}	
.submit {
	border-radius: 1rem;
	width: 8rem;
	height: 2rem;
	background-color: darkblue;
	color: white;
	border: none;
	position: relative;
	margin-left: 28rem;
	margin-right: auto;
}
.scoreboard {
	width: 16rem;
	height: 2rem;
	background-color: darkblue;
	color: white;
	border: none;

	margin-top: 0rem;
	text-align: center;
	margin-bottom: 0rem;
	padding-top: 1rem;
	border-radius: 1rem;
}
	
	 
	
}