body
{
    background-image: url("/images/bgTriangles.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 100vh;
    margin: 0;

}
.question-container
{
    padding: 1rem;
    background-color: #63C5DA;
    margin-bottom: 2rem;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.question-container label 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.submit
{
    border-radius: 1rem;
    width: 8rem;
    height:2rem;
    background-color: darkblue;
    color: white;
    border:none;
    position: relative;
    margin-left: 28rem;
    margin-right: auto;
  
}

.scoreboard
{
 
    width: 16rem;
    height:2rem;
    background-color: darkblue;
    color: white;
    border:none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
}

.quiz-form
{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width:80%;
    margin-top: 1rem;

}

.back-btn
    {
        border-radius: 1rem;
        width: 8rem;
        height:2rem;
        background-color: darkblue;
        color: white;
        border:none;
        left: 25rem;
        margin-right: auto;
        margin-top: 2rem;
        position: relative;
    }